.typewriter {
    display: inline-flex;
    align-items: center;
}

.typewriter-text {
    display: inline;
}

.typewriter-cursor {
    display: inline-block;
    margin-left: 2px;
    font-weight: 300;
    color: inherit;
}